server:
  port: 80
#  port: 8443
#  ssl:
#    keytool -keystore mykeys.jks -genkey -alias tomcat -keyalg RSA
#    key-store: file:///path/to/mykeys.jks OR classpath:///path/to/mykeys.jks
#    key-store-password: letmein
#    key-password: letmein

spring:
  datasource:
    generate-unique-name: false
    name: tacocloud
    url: jdbc:h2:mem:tacocloud
    username: user
    password: pass
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  security:
    oauth2:
      client:
        registration:
          github:
            clientId: github-client-id
            clientSecret: github-client-secret
            scope: email, public_profile


logging:
  file:
    path: /var/logs/
    name: taco.log
  level:
    root: WARN
    org.springframework.security: DEBUG

taco:
  orders:
    pageSize: 10